extends base
include mixins/tagMix

block content
    .wrapper
        .inner 
            .video
                .video__watch
                    .video__watch__container#videoInner(data-id=video._id)
                        video(src=`${video.fileUrl}`)
                        #videoController
                            i.fas.fa-play#playPauseBtn
                            #timeSet
                                #currentZone 00:00
                                span &nbsp;/&nbsp;
                                #durationTime 00:00
                            input#timeRange(type="range", value="0", step="0.1", min="0")
                            i.fas.fa-volume-up#volume
                            input#volumeRange(type="range", step="0.1", value="0.5", min="0", max="1")
                            i.fas.fa-expand#fullScreen
                    .video__watch__data 
                        .video-title
                            span=video.title
                            if loggedIn
                                if loggedInUser._id==video.owner._id
                                    a(href=`/videos/${video._id}/edit`) 동영상 편집
                        .video-meta #{video.meta.views} 회 • #{new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}
                        .video-divider
                        .video-owner
                            a(href=`/users/${video.owner._id}`)   
                                img(src=`${video.owner.avatarUrl}`)
                            a(href=`/users/${video.owner._id}`)=video.owner.username
                        .video-hashtags
                            each tag in video.hashtags
                                +tagMix(tag)
                        .video-sub=video.description
                .video__comments
                    if loggedIn
                        form.video__comments__section#comments  
                            img(src="/uploads/avatars/default_profile.jpeg")
                            textarea#text(cols="30", rows="10")
                            button 댓글
                        .video__comments__divider
                    .video__comments__render
                        each comment in video.comments.reverse()
                            .comment
                                a.comment__avatar(href=`/users/${comment.owner._id}`)   
                                    img(src=`${comment.owner.avatarUrl}`)
                                .comment__user
                                    a(href=`/users/${comment.owner._id}`)=comment.owner.username
                                    div=comment.text
                                if loggedIn
                                    if loggedInUser._id==comment.owner._id
                                        .comment__delete(data-id=comment._id) 삭제
                                
block scripts
    script(src="https://kit.fontawesome.com/6ade36b36a.js", crossorigin="anonymous", defer)
    script(src="/assets/js/video.js")  